<div id="profile">
	<h1>COOL USERS</h1>
	<% @users.each do |u| %>
	<div id="post_in_list">
		<h2><%= u.username %></h2>
		<p id="profile_link"><%= link_to("click to view profile", user_path(u.id), method: :get) %></p>
		<p>Email: <%= u.email %></p>
		<p>PICTURE ON THE SIDE</p>
		<!-- right now anyone can delete profiles, but i could add: -->
		<!-- if session[:user_id] && u.id == current_user.id -->
		<p id="profile_link"><%= link_to("DELETE PROFILE", user_path(u.id), method: :delete) %></p>
	</div>
	<% end %>
</div>


