// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile {
	display: table;
  	margin: 0 auto;
	width: 50em;
	text-align: justify;
	border: 3px solid black;
	margin: 0 auto;
	padding: 2em;  
}

#profile_postlist {
  display: table;
  margin: 0 auto;
  width:90%;
}

#profile_post {
	display: inline-block;
  	margin: 0 auto;
  	padding: 1em;  
	width: 20em;
	text-align: justify;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
